#rodape{
	background-color: #000;
	background-image: url("/images/colmeia-bottom.svg");
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 10px;
	padding: 2rem 0;
	color: #FFE255;
	width: 100%;
	bottom: 0px;
}

#rodape .creditos{
	text-align: center;
}